{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Projeto</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    </head>
    <body class="deep-purple darken-2 white-text">
        <main>
            <div class="row">
                <div class="col s12 center-align">
                    <div class="valign-wrapper row">
                        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4 deep-purple white-text">
                            <form id="login-form">
                                <div class="card-content">
                                    <div class="white-text center-align card-title">
                                        <h3>Acesso Inválido</h3>
                                    </div>
                                </div>
                                <p>
                                    O link que você está tentando acessar já foi utilizado. Por favor, clique no botão abaixo para voltar ao menu principal.
                                </p>
                                <div class="card-action right-align">
                                    <a href="/" class="btn waves-effect waves-light indigo accent-2 white-text">Clique aqui!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
</html>